@charset "UTF-8";

@font-face {
    font-family: 'Passion One', cursive;
    src: url('../fontes/PassionOne/PassionOne-Bold.ttf');
}

@font-face {
    font-family: 'Sriracha', cursive;
    src: url('../fontes/Sriracha/Sriracha-Regular.ttf');
}

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: darkgray;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte02);
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

section {
    font-family: var(--fonte03);
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section.normal {
    color: black;
    background-color: white;
}

section.imagem {
    color: white;
    background-color: gray;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.255);
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    font-family: var(--fonte01);
    text-align: center;
    padding: 10px;
}